<div class="container-fluid" id="regcontainer">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-5" id="regform">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<h1 class="display-1" style="color:white;">Edit</h1>
  <div class="mb-3">
    <%= f.label :name, class:"form-label" %><br />
    <%= f.text_field :name, autocomplete: "name", :required => true, class:"form-control", autofocus: true %>
  </div>
  <div class="mb-3">
    <%= f.label :email, class:"form-label" %><br />
    <%= f.email_field :email, autocomplete: "email", :required => true, class:"form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div style="color: white;">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="mb-3">
    <%= f.label :password, class:"form-label" %><i style="color: white;"> (leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
    <% if @minimum_password_length %>
      <em style="color: white;"><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

 <div class="mb-3">
    <%= f.label :password_confirmation, class:"form-label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
  </div>
   <div class="mb-3">
    <%= f.label 'Profile picture', class:"form-label" %><i style="color: white;"> (leave blank if you don't want to change it)</i><br />
    <%= f.file_field :image, class:"form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label 'Cover photo', class:"form-label" %><i style="color: white;"> (leave blank if you don't want to change it)</i><br />
    <%= f.file_field :coverimage, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :current_password, class:"form-label" %> <i style="color: white;"> (we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
  </div>

    <div class="mb-3">
    <%= f.submit "Edit", class:"btn btn-primary", id:"login" %>
  </div>
<% end %>

<%= link_to "Back", :back, class:"link-secondary" %>
