  <% content_for :title, @song.title %>
  <div id="showcard" class="card">
  <div class="card-header">
    <% if @song.user.image.url %> 
      <%= link_to image_tag(@song.user.image.url, class:"avatar"), account_path(@song.user.id) %>
      <% if user_signed_in? %>
  <% unless @song.user == current_user %>
    <% if current_user.following?(@song.user) %>
      <%= link_to '<i class="bi bi-person-dash-fill"></i>'.html_safe, unfollow_path(@song.user.id), method: :delete, class:"link-danger", id:"follow"%>
    <% else %>
      <%= link_to '<i class="bi bi-person-plus"></i>'.html_safe, follow_path(@song.user.id), method: :post, class:"link-secondary", id:"follow"%>
    <% end %>
  <% end %>
<% end %>
      <%= link_to 'Back', songs_path, class:"btn btn-outline-light", style:"margin-left:0.5em;" %>
      <%if user_signed_in? %>
      <% if(current_user.id == @song.user.id)%> 
        <%= link_to 'Edit', edit_song_path(@song), class:"btn btn-outline-warning" %>
        <%= link_to 'Delete', @song, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger" %>
        <%end%>
        <%end%> 
    <% else %> 
      <%= link_to image_tag("avatar.png", class:"avatar"), account_path(@song.user.id) %>
      <% if user_signed_in? %>
  <% unless @song.user == current_user %>
    <% if current_user.following?(@song.user) %>
      <%= link_to '<i class="bi bi-person-dash-fill"></i>'.html_safe, unfollow_path(@song.user.id), method: :delete, class:"link-danger", id:"follow"%>
    <% else %>
      <%= link_to '<i class="bi bi-person-plus"></i>'.html_safe, follow_path(@song.user.id), method: :post, class:"link-secondary", id:"follow"%>
    <% end %>
  <% end %>
<% end %>
      <%= link_to 'Back', songs_path, class:"btn btn-outline-light", style:"margin-left:0.5em;" %>
      <%if user_signed_in? %>
        <% if(current_user.id == @song.user.id)%> 
          <%= link_to 'Edit', edit_song_path(@song), class:"btn btn-outline-warning" %>
          <%= link_to 'Delete', @song, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger" %>
          <%end%>
        <%end%> 
    <%end%> 
  </div>
   <div class="row g-0">
    <div class="col-md-3">
      <% if @song.image.url %>
  <%= image_tag @song.image.url, class:"img-fluid rounded-start" %>
  <%else%>
  <%= image_tag "default_album.png", class:"img-fluid rounded-start", style:"height:15rem;" %>
  <%end%>
  
    </div>
    <div class="col-md-3">
    <div class="card-body">
      <h5 class="card-title"><%= @song.title %></h5>
        <p class="card-text"><% if (@song.author != "") %><%= @song.author %><% else %><%= @song.user.name %><%end%> </p>
        <% if @song.audio.url %> 
        <button type="button" id="<%= @song.id %>" class="btn btn-light rounded-circle" onclick="change_music('<%=@song.audio.url%>', '<%=@song.id%>', 'i<%=@song.id%>');"><i id='i<%=@song.id%>' class="bi bi-play" style="font-size:2em;"></i></button>
        <script>
        function setCookie(c_name,value,exdays)
          {
            var exdate=new Date();
            exdate.setDate(exdate.getDate() + exdays);
            var c_value=escape(value) + 
            ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
            document.cookie=c_name + "=" + c_value+ "; path=/";
          }

   function change_music(music, id, idi)
   {
     setCookie('playState', 'true');
    var elements = document.getElementsByClassName("bi bi-pause");
    var buttons = document.getElementsByClassName("btn btn-light rounded-circle");

    //console.log(document.getElementById(id).getAttribute('onclick'));
    for(var i = buttons.length - 1; i >= 0; --i)
    {
        if(buttons[i].getAttribute('id') == id){
        }
        else{
          let x = buttons[i].getAttribute("onclick").split("_");
          x[0] = "change";
          var string = x.join("_");
          buttons[i].setAttribute("onclick", string);
        }
        // PERFORM STUFF ON THE ELEMENT
        

        // elements[i] no longer exists past this point, in most browsers
    }  

    for(var i = elements.length - 1; i >= 0; --i)
    {
        
        // PERFORM STUFF ON THE ELEMENT
        elements[i].className = "bi bi-play";
        

        // elements[i] no longer exists past this point, in most browsers
    }  
     if(document.getElementById("main-player").src == music) {
       document.getElementById("main-player").play();
       document.getElementById(id).setAttribute( "onclick", "pause_music('" + music + "', '" + id + "', '" + idi +"')");
       document.getElementById(idi).className = "bi bi-pause";
     }
     else{
       document.getElementById("main-player").pause();
       document.getElementById("main-player").setAttribute('src', music);
       document.getElementById("main-player").load();
       document.getElementById("main-player").play();
       
      sessionStorage.setItem('current_song',music);
      //alert(sessionStorage.getItem('current_@song'));

     document.getElementById(id).setAttribute( "onclick", "pause_music('" + music + "', '" + id + "', '" + idi +"')");
     document.getElementById(idi).className = "bi bi-pause";
     }

   }

   function pause_music(music, id, idi) 
   {
     setCookie('playState', 'false');
     document.getElementById("main-player").pause();
     document.getElementById(id).setAttribute( "onclick", "change_music('" + music + "', '" + id + "', '" + idi +"')");
     document.getElementById(idi).className = "bi bi-play";
   }


</script>
        <% else %>
        No audio
        <%end%> 
        <br />
        <%if user_signed_in? %>
        <% pre_like = @song.likes.find { |like| like.user_id == current_user.id} %>
<% if pre_like %>
  <%= link_to '<i class="bi bi-heart-fill"></i>'.html_safe, song_like_path(@song.id, pre_like), method: :delete, class:"text-decoration-none", style:"color: white; font-size: 1.5rem;"%>
<% else %>
  <%= link_to '<i class="bi bi-heart"></i>'.html_safe, song_likes_path(@song.id), method: :post, class:"text-decoration-none", style:"color: white; font-size: 1.5rem;" %>
<% end %>
<% end %>
<div> 
  </div>
    </div>
        </div> 
        <div class="col-md-6">
        <%if user_signed_in? %>
        <%= form_with(model: [@song, @song.comments.build]) do |f| %>
      <div class="form-group">
        <%= f.label 'New comment', class: "form-label" %>
        <%= f.text_area :body, class: 'form-control' %>
      </div>
        <input value="" type="hidden" name="comment[song_time]" id="comment_song_time">
        <script>
        function getCookieShow(c_name)
{
    var i,x,y,ARRcookies=document.cookie.split(";");
    for (i=0;i<ARRcookies.length;i++)
    {
      x=ARRcookies[i].substr(0,ARRcookies[i].indexOf("="));
      y=ARRcookies[i].substr(ARRcookies[i].indexOf("=")+1);
      x=x.replace(/^\s+|\s+$/g,"");
      if (x==c_name)
        {
        return unescape(y);
        }
      }
}
        var songshow= '<%=@song.audio.url%>';
         if(sessionStorage.getItem('current_song') == songshow){
           var songtime = getCookieShow('timePlayed').split('.');
          document.getElementById("comment_song_time").value = songtime[0];
         }
          
      </script>
        <%= f.hidden_field :song_id, value: @song.id %>
        <div class="mb-3">
      <%= f.submit 'Submit', class: 'btn btn-primary', id: "login" %>
      </div>
    <% end %>
     <% end %>

      <%= render @song.comments 
      #.limit(1)  
      %>
    </div>
  <div class="card-footer text-muted d-inline">
       <div class="row g-0">
    <div class="col-md-6">
  <div class="d-inline">
    <%= @song.likes.count %> <%= (@song.likes.count) == 1 ? 'Like' : 'Likes'%>
    |
    <%= @song.comments.count %> <%= (@song.comments.count) == 1 ? 'Comment' : 'Comments'%>
    </div>
    </div>
    <div class="col-md-6">
    <div style="text-align: right !important;">
    <%= time_ago_in_words(@song.created_at) %> ago
    </div>
    </div>
</div>
</div>
</div>
</div>
</div> 

